*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #00ffff;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    text-transform: uppercase;
    font-size: 17px;
    background-color: rgb(213, 215, 216);
    font-weight: bold;
}
.nav-list{
    display: flex;
}
.nav-item, a{
    list-style: none;
    text-decoration: none;
    margin: 0 5px;
    color: rgb(75, 71, 71);
}
.logo p{color: rgb(74, 74, 156);}
 
.container{
    display: flex;
    justify-content: center;
    min-height:92vh;
}
.content{
    align-items: center;
    margin: auto;
}
h1{ 
    background-color:black;
    color: white;
    padding: 5px;
}
.main-btn{
    margin-top: 20px;
    padding: 5px;
    margin-left: 50%;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    background-color: #00ffff ;
    font-size: 17px;
    transition: all .3 ease-in;
}
.main-btn:hover{
    background-color: #209b357a  ;
}
.color {
    color: blue;

}